body{
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.type{
	width: 270px;
}
.logo{
	width: 100px;
}
header{
	font-size: 22pt;
	

}
li{
	display: inline-block;
	color: blue;
}
nav{
	display: inline-block;
}
a{
	text-decoration: none;
	margin-left: 50px;
}
.active a{
	color: red;
}
.ricxvi {
	display: inline-block;
	color: white;
	font-size: 48pt;
	background-color: blue;
	padding-bottom: 0px;
	margin-top: 30px;
}
.tarigi{
	font-size: 22pt;
	color: blue;
	padding-top: 5px;
	margin-bottom: 30px;

}
.abzaci{
	font-size: 16pt;
	width: 900px;
	display: inline-block;;
	vertical-align: top;
	margin-left: 40px;
}
h1{
	font-size: 20pt;
	margin-bottom: 30px;
}
.fb{
	width: 14px;
	display: inline-block;
}
.youtube{
	width: 25px;
	display: inline-block;
	margin-left: 65px;
}
.banner{
	width: 1170px;
	margin-top: 80px;
	margin-bottom: 450px;
}
.con{
	display: block;
}
.list{
	margin-right: 50px;
	margin-left: 60px;
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;
}
.map{
	margin-top: 70px;
	margin-bottom: 70px;
	width: 850px;
	display: inline-block;
}
.contact{
	font-size: 18pt;
	font-style: bold;
}
span{
	color: grey;
}